.game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/73cd599f-99f9-4d9d-8536-6455717abba1/d9caez4-77e1aaf2-47f3-4a0b-b17a-24f53ed43dc4.png/v1/fill/w_1177,h_679,q_70,strp/family_feud_set___1994_95_by_wheelgenius_d9caez4-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzM4IiwicGF0aCI6IlwvZlwvNzNjZDU5OWYtOTlmOS00ZDlkLTg1MzYtNjQ1NTcxN2FiYmExXC9kOWNhZXo0LTc3ZTFhYWYyLTQ3ZjMtNGEwYi1iMTdhLTI0ZjUzZWQ0M2RjNC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.mHq_HPd8kNsEUKJiVxvX2w4odzgkGXC2yrRZcLNnB-E');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100vw;
  max-height: 101vh;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}

.team-A-name {
  font-size: xx-large;
  padding: 1rem;
  position: absolute;
  top: 13.75vh;
  left: 6.25vw;
  background: linear-gradient(180deg, #444 0%, #222 100%);
  color: gold;
  border: gold 2px solid;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  z-index: 1000;
  min-height: 27vh;
  max-width: 14vw;
  overflow-wrap: break-word; 
}

.team-B-name {
  font-size: xx-large;
  padding: 1rem;
  position: fixed;
  top: 13.75vh;
  left: 77.25vw;
  background: linear-gradient(180deg, #444 0%, #222 100%);
  color: gold;
  border: gold 2px solid;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  z-index: 1000;
  min-height: 27vh;
  max-width: 14vw;
  overflow-wrap: break-word; 
}

.team-score-items {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  margin-top: 12.25vh;
}

.question {
  text-align: center;
  margin-top: 7vh;
  font-weight: bold;
  background: linear-gradient(180deg, #444 0%, #222 100%);
  border: 2px solid gold;
  box-shadow: inset 0 0 10px #000;
  font-family: 'Rubik', sans-serif;
  color: gold;
  min-width: 25vw;
  max-width: 50vw;
  min-height: 9vh;
  max-height: 9vh;
  padding: 0 1rem;
  overflow-wrap: break-word; 
  cursor: pointer;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 0.5rem;
}

.answer {
  width: 200px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.answer .front {
  background: linear-gradient(180deg, #444 0%, #222 100%);
  border: 2px solid #888;
  border-radius: 4px;
  box-shadow: inset 0 0 10px #000;
  color: gold;
}

.answer-content {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.answer .card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.answer .front,
.answer .back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.7s ease-in-out;
  backface-visibility: hidden;
  border-radius: 7px;
}

.answer .back {
  transform: rotateY(180deg);
}

.answer.flipped .card {
  transform: rotateY(180deg);
}

.answer.flipped .front {
  color: #fff;
}

.answer.flipped .back {
  background-color: blue;
  transform: rotateY(0deg);
  border: 1px gold solid;
  display: flex;
  justify-content: space-between;
}

.answer.flipped .back div {
  color: gold;
  padding: 0.5rem;
}

.answer-points {
  border-left: 2px solid gold;
}

.team-score button {
  background-color: transparent;
  outline: none;
  border: none;
  color: gold;
  cursor: pointer;
  text-align: center;
  font-family: monospace;
  font-size: 2rem;
}

.controls {
  display: flex;
  width: 100vw;
  margin-top: 5.15rem;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

.control-button {
  cursor: pointer;
}

.wrong-answer-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15vh;
}

.wrong-answer-button:focus {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transform: scale(1.25);
  margin-top: 15vh;
}
