.game-board::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Adjust the alpha value (0.5) for the desired level of opacity */
  z-index: -1;
}

.background-image {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/73cd599f-99f9-4d9d-8536-6455717abba1/d9caez4-77e1aaf2-47f3-4a0b-b17a-24f53ed43dc4.png/v1/fill/w_1177,h_679,q_70,strp/family_feud_set___1994_95_by_wheelgenius_d9caez4-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzM4IiwicGF0aCI6IlwvZlwvNzNjZDU5OWYtOTlmOS00ZDlkLTg1MzYtNjQ1NTcxN2FiYmExXC9kOWNhZXo0LTc3ZTFhYWYyLTQ3ZjMtNGEwYi1iMTdhLTI0ZjUzZWQ0M2RjNC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.mHq_HPd8kNsEUKJiVxvX2w4odzgkGXC2yrRZcLNnB-E');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.question {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
}

.answer {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  perspective: 1000px;
  background-color: blue;
  cursor: pointer;
}

.answer .front {
  background-color: rgb(36, 36, 250);
}

.answer-content {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.answer .card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.answer .front,
.answer .back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  backface-visibility: hidden;
  border-radius: 7px;
}

.answer .back {
  transform: rotateY(180deg);
}

.answer.flipped .card {
  transform: rotateY(180deg);
}

.answer.flipped .front {
  color: #fff;
}

.answer.flipped .back {
  background-color: gold;
  color: #000;
  transform: rotateY(0deg);
  border: 10px gold solid;
}

.team-scores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.team-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-score h3 {
  margin-bottom: 5px;
}

.team-score span {
  font-size: 24px;
  font-weight: bold;
}

.team-score button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.team-score button:hover {
  background-color: #0056b3;
}

.wrong-answer-button {
  width: 80px;
  height: 80px;
  background-color: red;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.wrong-answer-button i {
  color: white;
  font-size: 40px;
}
