<div class="game-board">
  <div class="main-items">
    <div class="team-score" [class.selected]="currentTeam === 'A'">
      <button (click)="activateTeam('A')">{{ teamAScore }}</button>
    </div>
    <div class="question" (click)="toggleQuestion()">
      <h2 *ngIf="isQuestionClicked">{{ currentQuestion }}</h2>
    </div>
    <div class="team-score" [class.selected]="currentTeam === 'B'">
      <button (click)="activateTeam('B')">{{ teamBScore }}</button>
    </div>
  </div>
  <div class="answers">
    <div
      *ngFor="let answer of currentAnswers"
      class="answer"
      (click)="flipCard(answer)"
      [ngClass]="{ flipped: answer.flipped }"
    >
      <div class="front">{{ answer.value }}</div>
      <div class="back">{{ answer.content }}</div>
    </div>
  </div>
  
  <div class="controls">
    <button (click)="playIntro()">🎶</button>
    <button class="wrong-answer-button" (click)="playWrongAnswerSound()">❌</button>
    <button (click)="nextQuestion()">⏭</button>
    <button (click)="activateTeam('')">🧼</button>
  </div>

</div>
