.game{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.game-board::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* Adjust the alpha value (0.5) for the desired level of opacity */
  z-index: -1;
}

.game-board{
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/73cd599f-99f9-4d9d-8536-6455717abba1/d9caez4-77e1aaf2-47f3-4a0b-b17a-24f53ed43dc4.png/v1/fill/w_1177,h_679,q_70,strp/family_feud_set___1994_95_by_wheelgenius_d9caez4-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzM4IiwicGF0aCI6IlwvZlwvNzNjZDU5OWYtOTlmOS00ZDlkLTg1MzYtNjQ1NTcxN2FiYmExXC9kOWNhZXo0LTc3ZTFhYWYyLTQ3ZjMtNGEwYi1iMTdhLTI0ZjUzZWQ0M2RjNC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.mHq_HPd8kNsEUKJiVxvX2w4odzgkGXC2yrRZcLNnB-E');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-items {
  display: flex;
  justify-content: space-between;
  width: 88vw;
  margin-top: 7.25rem;
}

.question{
  text-align: center;
  margin-top: 30vh;
  font-size: 1rem;
  font-weight: bold;
  background-color: blue;
  padding: 0.5rem 1rem;
  border: 3px gold solid;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
  color: gold;
  min-width: 25vw;
  min-height: 7vh;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 0.5rem;
}

.answer {
  width: 200px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  perspective: 1000px;
  background-color: blue;
  cursor: pointer;
}

.answer .front {
  background-color: gold;
  color: blue;
  border: blue 1px solid ;
}

.answer-content {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.answer .card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.answer .front,
.answer .back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.7s ease-in-out;
  backface-visibility: hidden;
  border-radius: 7px;
}

.answer .back {
  transform: rotateY(180deg);
}

.answer.flipped .card {
  transform: rotateY(180deg);
}

.answer.flipped .front {
  color: #fff;
}

.answer.flipped .back {
  background-color: blue;
  transform: rotateY(0deg);
  border: 1px gold solid;
  display: flex;
  justify-content: space-between;
}

.answer.flipped .back div{
  color: gold;
  padding: 0.5rem;
}

.team-score button {
  height: 15rem;
  width: 15rem;
  margin-top: -5.5px;
  background-color: blue;
  color: gold;
  border: gold 2px solid;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
  font-size: 2rem;
}

.team-score.selected button{
  height: 15rem;
  width: 15rem;
  margin-top: -5.5px;
  background-color: blue;
  color: gold;
  border: gold 1rem solid;
  cursor: pointer;
  padding: 5rem;
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
  font-size: 2rem;
}

.controls {
  display: flex;
  margin-bottom: 10rem;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.wrong-answer-button {
  margin-bottom: 4rem;
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: -5.25rem;
}

.wrong-answer-button:focus {
  margin-bottom: 4rem;
  margin-right: -7rem;
  width: 30px;
  height: 30px;
  background-color: red;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(2.5);
}

.control-button {
  margin-bottom:9rem;
  background-color: transparent;
  border: none;
}